apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: svc-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jazzytoor/serverless-vs-kubernetes
    targetRevision: feat/argocd 
    path: kubernetes/argocd
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
