apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: frontend
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/jazzytoor/serverless-vs-kubernetes
    targetRevision: main
    path: kubernetes/app/frontend
  destination:
    server: arn:aws:eks:eu-west-2:052275556902:cluster/dualstack
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
