apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: app
          image: 052275556902.dkr.ecr.eu-west-2.amazonaws.com/dualstack:latest
          ports:
            - containerPort: 8000
      imagePullSecrets:
        - name: myawscred
